@import "fonts";

.nav {
  display: grid;
  grid-template-columns: repeat(8, auto);
  column-gap: 20px;

  &__element {
    position: relative;
  }
  
  &__link {
    display: inline-block;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: $header-size;
    color: black;
    @include fontTitleLinks;
    transition: color $smoothTime / 3;
  }
  
  &__link:hover ,
  .is-active {
    color: $color-btn-acktive;
  }
  
  .is-active::after {
    content: "";
    display: block;
    background-color: $color-btn-acktive;
    border-radius: 8px;
    height: 4px;
    width: $width-full;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
